.card {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 20px;
    gap: 20px;
    width: 300px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 1px 1px black;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgb(194, 244, 244);
}

.avatar {
   width: 90px;
   height: 90px;
   background-color: blue;
   border-radius: 50%;
}

.stats {
   display: flex;
   justify-content: space-around;
   border-top: 3px solid burlywood;
   padding-top: 5px;
}

.stat-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.actions {
   display: flex;
   gap: 10px;

}

.btn-primary {
   flex-grow: 2; 
   background: blue;
   color: white;
   border: none;
   padding: 17px;
   border-radius: 8px;
}
.btn-secondary {
   flex-grow: 1; 
   background: grey;
   border: none;
   padding: 17px;
   border-radius: 8px;
}
