body {
background-image: url("../images/fondo.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
text-align: center;
font-family: 'Roboto', sans-serif;


}

h1 {
    background-color: grey;
    color: aliceblue;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: red;

}

img {
border: 10px black solid;
border-radius: 25px;
box-shadow: 1px 1px 1px black;
height: 500px;
}

ul {
    list-style-type: none;


}

li {
    display: inline;
    border: 1px black solid;

}

